@font-face {
    font-family: 'Montserrat-Black';
    src: url('./Montserrat/static/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('./Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./Montserrat/static/Montserrat-Thin.ttf') format('truetype');
}
