@import url('fonts/fonts.css');
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

//Верстка
.container{
  width: 100%;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-top{
  height: 50px;
  background-color: #F7EBE5;

  display: flex;
  align-items: center;
}
.header-top__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top__item{
  display: flex;
}
.nav-info {
  text-decoration: none;
  font-size: 14px;
  color: #000000;

  &:not(:first-child) {
    margin-left: 16px;
  }
}
#city-select {
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #F7EBE5;
  cursor: pointer;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #007bff;
  background-color: #FFFFFF;
}
.icon__head{
  width: 20px;
  height: 20px;
}
.social-items{
  display: flex;
  gap: 15px;
}
.header-bottom{
  margin-top: 18px;
}
.header-bottom__inner{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  & p, select{
    text-transform: uppercase;
  }
  & select{
    font-size: 14px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: border-color 0.3s;
  }
}

.header-bottom__item{
  display: flex;
  align-items: center;
  gap: 5px;
  & span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    background-color: #E7426A;
    border-radius: 50%;
  }
}



.intro{
  background: url("../images/intro.svg");
  width: 100%;
  height: 575px;
  position: relative;
  margin-top: -40px;
}
.intro__inner{
  display: flex;
  align-items: center;
  position: relative;
  & img{
    margin-top: 75px;
      margin-left: -110px;
  }
}
.intro__item{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.intro-bottom{
  text-align: center;
  margin-top: 40px;

}

.intro-top__title{
  font-size: 22px;
}
.intro-top__subtitle {
  position: relative;
  display: inline-block;
  font-size: 16px;

  margin: 0 52px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background: #000;
  }

  &::before {
    left: -60px;
  }

  &::after {
    right: -60px;
  }
}
.intro-bottom__title{
    font-size: 42px;
}
.intro-bottom__subtitle{
    font-size: 18px;
  padding-top: 20px;
  font-family: "Montserrat-Medium", sans-serif;
}
.card-intro__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-intro__item {
  position: relative;
  width: 46%;
  height: 270px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 200% 200%;
    z-index: -1;
  }

  // Первый элемент: диагональ снизу вверх, с более светлым оттенком
  &:nth-child(1)::before {
    background: linear-gradient(to bottom right,  #FFE8D5 50%, #FFDBC3 50%);
  }

  // Второй элемент: диагональ сверху вниз, с более светлым оттенком
  &:nth-child(2)::before {
    background: linear-gradient(to top right, #FFC2CC 50%, #FFD1D6 50%);
  }

  // Третий элемент: диагональ сверху вниз, с более светлым оттенком
  &:nth-child(3)::before {
    background: linear-gradient(to top right, #CFF2C9 50%, #B4EAB3 50%);
  }

  // Четвертый элемент: диагональ снизу вверх, с более светлым оттенком
  &:nth-child(4)::before {
    background: linear-gradient(to bottom right, #FDD5CD 50%, #FEE5DE 50%);
  }

  // Пятый элемент: диагональ снизу вверх, с более светлым оттенком
  &:nth-child(5)::before {
    background: linear-gradient(to bottom right, #C3E9EB 50%, #A8DCDF 50%);
  }

  // Шестой элемент: диагональ сверху вниз, с более светлым оттенком
  &:nth-child(6)::before {
    background: linear-gradient(to top right, #C4C6EC 50%, #D7D9F3 50%);
  }
}

.card-intro__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-intro__title{
  margin-top: 20px;
  display: flex;
  gap: 13px;
  font-size: 20px;
  font-family: "Montserrat-SemiBold", sans-serif;
}
.card-intro__subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Montserrat-Regular", sans-serif;
}

